.social-capital-number {
    font-size:14px;
    width:70px;
    height:40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    position: absolute;
    right: 0;
    top: 0;
    color:#fff;

    margin-top: 15px;
    margin-right: 15px;

    border-radius: 20px/80px;
}

.social-capital-number a:link {
    color:#fff;
    text-decoration: none;
}

.social-capital-number a:visited {
    color:#fff;
    text-decoration: none;
}
